# {{ workshop.name }} - Teilnehmer - {{ attendant_id }}
{% for i in (ec2_instance_result.instances) | sort(attribute='tags.Name') %}{% if i.state.name != "terminated" %}

## {{ i.tags.Name | upper }}

| Setting               | Value                                                               |
| --------------------- | ------------------------------------------------------------------- |
| **Public IP**         | {{ i.public_ip_address }} |
| **Public DNS**        | {{ i.public_dns_name }} |
| **VPC IP**            | {{ i.private_ip_address }} |
| **VPC DNS**           | {{ i.private_dns_name }} |
{% if i.platform is defined %}
{% if i.platform == "windows" %}
| **Username**          | Administrator |
| **Password**          | {{ workshop_win_administrator_password }} |
{% endif %}{% else %}
| **Username**          | admin |
{% endif %}
{% endif %}{% endfor %}